.gameScreen {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  min-height: 100svh;
  padding: 2rem 1rem;
  font-family: var(--font-text);
}

.title {
  font-weight: 700;
  font-size: 1.625rem;
  padding: 0.5rem;
  text-align: center;
}

.versus {
  font-weight: 700;
  font-family: var(--font-title);
  text-align: center;
  text-shadow: rgb(var(--brand-700) / 0.85) 0px 1px,
    rgb(var(--brand-700) / 0.65) 0px 2px, rgb(var(--brand-700) / 0.45) 0px 3px,
    rgb(var(--brand-700) / 0.25) 0px 4px, rgb(var(--brand-700) / 0.05) 0px 5px;
}

.score {
  display: flex;
  gap: 1rem;
  font-size: 1.25rem;
  padding: 0.5rem;
}

.scoreCorrect,
.scoreWrong {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.scoreCorrect {
  color: var(--success-color);
}

.scoreWrong {
  color: var(--error-color);
}

.versus {
  font: bold 2rem var(--font-title);
}

.reposContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.buttons {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;
}

.button {
  display: block;
  cursor: pointer;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  border: 1px solid rgb(var(--brand-500));
  border-radius: 0.25rem;
  color: rgb(var(--brand-50));
  font: 700 1rem var(--font-text);
  background: linear-gradient(
    0deg,
    rgb(var(--brand-500)),
    rgb(var(--brand-300))
  );
  box-shadow: rgb(var(--brand-700)) 0px 5px;
}

.button:hover,
.button:focus {
  background: linear-gradient(
    180deg,
    rgb(var(--brand-500)),
    rgb(var(--brand-300))
  );
}

.button:active {
  box-shadow: none;
  transform: translate3d(0, 5px, 0);
}

@media only screen and (min-width: 768px) {
  :root {
    font-size: 1.125rem;
  }

  .gameScreen {
    padding: 3.5rem 2rem;
  }

  .reposContainer {
    gap: 2rem;
    min-width: 100%;
  }
}

@media only screen and (min-width: 1180px) {
  :root {
    font-size: 1.25rem;
  }
  .title {
    font-size: 2rem;
  }

  .reposContainer {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }

  .versus {
    flex-grow: 0;
  }
}
