@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;400;700&display=swap");

:root {
  --font-title: "Press Start 2P", sans-serif;
  --font-text: "Raleway", sans-serif;

  --brand-50: 243 236 249;
  --brand-100: 221 202 237;
  --brand-200: 199 167 225;
  --brand-300: 177 133 214;
  --brand-400: 155 99 202;
  --brand-500: 133 65 190;
  --brand-600: 106 52 152;
  --brand-700: 80 39 114;
  --brand-800: 53 26 76;
  --brand-900: 27 13 38;
}

.App {
  min-height: 100svh;
  background-color: rgb(var(--brand-900));
  color: rgb(var(--brand-50));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
